<header class="d-flex flex-column align-items-center shadow-lg p-3 mb-5 bg-white rounded">
    <nav class="w-50 d-flex justify-content-center">
        <a class="px-2 link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/">Inicio</a>
        <a class="px-2 link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/entries">Entrada</a>
        <a class="px-2 link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/expenses">Saída</a>
        <a class="px-2 link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/investment">Investimentos</a>
        <a class="px-2 link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/accounts">Contas</a>
        <a class="px-2 link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/analytics">Análise</a>
    </nav>
</header>